apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: "nginx"
    # REMOVE: cert-manager.io/cluster-issuer
spec:
  rules:
  - host: argocd.pod3digital.online
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 80
  # REMOVE TLS section - SSL termination happens at Load Balancer